@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  font-family: "Sawarabi Mincho", sans-serif;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: #fff;
}

.menu__button {
  position: fixed;
  right: 5px;
  top: 5px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  z-index: 100;
  cursor: pointer;
}

.menu__button.active .menu__button--bar:first-of-type {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
}

.menu__button.active .menu__button--bar:nth-of-type(2) {
  -webkit-transform: scale(0);
          transform: scale(0);
  opacity: 0;
}

.menu__button.active .menu__button--bar:last-of-type {
  -webkit-transform: rotate(-225deg);
          transform: rotate(-225deg);
}

.menu__button--bar {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 50%;
  height: 3px;
  background-color: #1a1919;
  -webkit-transition: opacity 0.3s, -webkit-transform 1s;
  transition: opacity 0.3s, -webkit-transform 1s;
  transition: transform 1s, opacity 0.3s;
  transition: transform 1s, opacity 0.3s, -webkit-transform 1s;
}

.menu__button--bar:first-of-type {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.menu__button--bar:last-of-type {
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #96cee7;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

.menu.active {
  opacity: 1;
  visibility: visible;
}

.menu.active ul li {
  opacity: 1;
  -webkit-transition-delay: 0.6s;
          transition-delay: 0.6s;
}

.menu.active ul li:nth-child(1) {
  -webkit-transition: 1s;
  transition: 1s;
}

.menu.active ul li:nth-child(2) {
  -webkit-transition: 2s;
  transition: 2s;
}

.menu.active ul li:nth-child(3) {
  -webkit-transition: 3s;
  transition: 3s;
}

.menu.active ul li:nth-child(4) {
  -webkit-transition: 4s;
  transition: 4s;
}

.menu.active ul li:nth-child(5) {
  -webkit-transition: 5s;
  transition: 5s;
}

.menu ul {
  padding: 32px;
  padding-top: 100px;
}

.menu ul li {
  position: relative;
  margin-bottom: 24px;
  opacity: 0;
}

.menu ul li::before {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: -10px;
  width: 5px;
  height: 5px;
  background-color: #fff;
}

.menu ul li a {
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 4rem;
}

header {
  position: relative;
  min-height: 400px;
  margin-bottom: 96px;
}

.main__title {
  position: absolute;
  top: 2px;
  left: 10px;
  font-family: "Fira Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 600;
  padding: 8px;
  color: #252424;
}

.main__title span {
  display: inline-block;
  font-weight: 900;
  color: #96cee7;
  -webkit-animation: upToDown 1s forwards;
          animation: upToDown 1s forwards;
}

@-webkit-keyframes upToDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes upToDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}

.hero__img {
  position: relative;
  top: 70px;
  width: 100%;
  height: 350px;
  margin-bottom: 80px;
}

.hero__img .sub__title {
  position: absolute;
  bottom: 50px;
  left: 5px;
  letter-spacing: 1px;
  font-family: "Fira Sans", sans-serif;
  font-size: 4.5rem;
  font-weight: 800;
  color: white;
}

.hero__img .sub__title span {
  padding: 16px;
}

.hero__img--inner {
  width: 100%;
  height: 100%;
}

.hero__img--inner img {
  width: 100%;
  height: 100%;
}

.container {
  padding-top: 24px;
  min-height: 300vh;
}

.block:nth-of-type(1) .block__title::before {
  content: "About";
}

.block:nth-of-type(2) .block__title::before {
  content: "Skill";
}

.block:nth-of-type(3) .block__title::before {
  content: "Idea";
}

.block {
  width: 100%;
  min-height: 200px;
  padding: 8px 0px;
  padding-top: 64px;
  margin-bottom: 80px;
}

.block__title {
  position: relative;
  text-align: center;
  font-size: 3.5rem;
  margin-bottom: 64px;
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  color: #333;
  opacity: 1;
}

.block__title::before {
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0.2;
  font-size: 8rem;
  color: #f88c61;
}

.block__title::after {
  content: "";
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  bottom: -20px;
  width: 30px;
  height: 5px;
  background-color: #96cee7;
}

.img__box {
  position: relative;
  width: 100%;
  height: 350px;
  background-size: cover;
}

.box__title {
  position: absolute;
  right: 10%;
  top: 60%;
  color: #fff;
  font-size: 4rem;
  font-weight: 800;
}

.js-detail__button {
  position: absolute;
  right: 10%;
  top: 75%;
  color: #fff;
  font-size: 1.7rem;
  font-weight: 800;
  padding: 8px;
  background-color: #0c658f;
}

.js-detail__button::after {
  content: "";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f138";
  margin-left: 6px;
}

.first__box {
  background-image: url(./images/img2.png);
}

.second__box {
  background-image: url(./images/img3.png);
}

.third__box {
  background-image: url(./images/img4.png);
}

.detail__box {
  width: 100%;
  background-color: #eb9d6a;
  overflow: hidden;
  -webkit-transition: opacity 1s;
  transition: opacity 1s;
  min-height: 200px;
  padding-top: 16px;
}

.detail__box.active {
  padding-top: 16px;
  min-height: 200px;
  opacity: 1;
  visibility: visible;
  margin-bottom: 96px;
}

.detail__box--title span {
  display: inline-block;
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  font-family: "Fira Sans", sans-serif;
  font-size: 3rem;
  font-weight: 800;
  padding: 8px;
  margin-bottom: 40px;
}

.detail__box--title span::before {
  content: "";
  position: absolute;
  left: -5px;
  top: 0;
  height: 100%;
  width: 3px;
  background-color: #96cee7;
}

.detail__box--inner {
  width: 95%;
  margin: 0 auto;
}

.detail__box--inner tr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 24px;
}

.detail__box--inner tr td:nth-of-type(1) {
  display: block;
  min-width: 30%;
  text-align: center;
  font-size: 1.6rem;
  line-height: 1.6;
}

.detail__box--inner tr td:nth-of-type(2) {
  display: block;
  width: 100%;
  padding-left: 8px;
  font-size: 2rem;
  line-height: 1.6;
}

.detail__box--inner tr td:nth-of-type(2) span {
  position: relative;
  padding: 0px 4px;
  font-weight: 800;
}

.under-line__anime::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0%;
  background-color: #96cee7;
  -webkit-transition: 1s;
  transition: 1s;
}

.under-line__anime.inview::after {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */